#intro-header {
	font-size: 4rem;
}

#feature {
	
}

#feature, #subfeature > div {
	
}

.main-leading {
  font-size: 13rem;
}

.main {
	margin: 0;
	padding-top: 2rem;
	border-top: solid 5px orange;
  font-size: 3rem;
	letter-spacing: 1rem;
}

.image-padding-top {
	padding-top: 8rem;
}

figcaption {
	font-size: 1.5rem;
	text-align: right;
	margin-bottom: 6rem;
}