$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// overrides bootstrap variables
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// site-specific styles
@import "content";

// google font import
@import 'https://fonts.googleapis.com/css?family=Arvo|Roboto:300,700|Slabo+27px|Scope+One|Raleway:400,700|Maven+Pro:400';

html {
  position: relative;
  min-height: 100%;
  min-width: 340px;
  
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 6rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 80%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 6rem;
}

.particles-js {
    width: 100%;
    height: 500px;
  }

// index navbar area
.navbar-default {
  padding-top: 2rem;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  font-size: 3rem; 
}

.nav .selected {
}

.navbar-brand {
  border-right: 1px solid #eaeaea; 
}

