<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-leading">ABOUT</div>
        <div class="main">I'M<br>SUNNY<br>YUEN</div>
      </div>
      <div class="col-sm-6">
        <p>a Seattleite, an entrepreneur and a technologist.  I’ve worked as a web designer the past 10 years and I’m now specializing in front-end development leveraging open source technologies.  I’m interested in seeking fulltime employment as a front-end developer building web applications.</p>
      </div>
    </div>
     <div class="row">
        <div class="col-sm-6">
          <div class="main"><p>SKILLS</p></div>
          <strong>accusantium</strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              EXPERT LEVEL
            </div>
          </div>
          <strong>undeomnis</strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
              VERY EXPERIENCED LEVEL
            </div>
          </div>
           <strong>undeomnis</strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              EXPERT LEVEL
            </div>
          </div>
           <strong>undeomnis</strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
              PROFESSIONAL LEVEL
            </div>
          </div>
          <strong>TECHNOLOGIES</strong><p>veritatis et quasi architecto beatas</p>
      </div>
    </div>  
    <div class="row">
        <div class="col-sm-6">
          <div class="main"><p>EXPERIENCES</p></div>  
        <p><strong>2016 - 2013</strong> - omnis iste natus error<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p><p><strong>2013-2011</strong> - omnis iste natus error<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p><p><strong>2011-2009</strong> - omnis iste natus error<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
      </div>    
    </div>
   
    <div class="row">
        <div class="col-sm-6">
          <div class="main"><p>EDUCATION</p></div>  
        <p><strong>1994-2000</strong> - <em>rspiciatis undeomnis iste</em>,  natus error<br><strong>2016</strong> - <em>eaque ipsa quae,</em> totam rem aperiam</p><br><br><br><br><br><br>
      </div>    
    </div>
</div>