<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-leading">CONTACT</div>
        <div class="main">FEEL FREE TO<br>DROP ME A<br>LINE or TWO</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        
        <hr>
        <h4>Get a Hold of Me via</h4>
        <strong>Email</strong> yuens1002@gmail.com<br>
        <strong>Socail Media</strong> Github  Twitter  LinkedIn<br><br>
        
      </div>
      <div class="col-sm-6">
        <form>
          <div class="form-group">
            <label for="email">Your Name</label>
            <input type="name" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label for="email address">Your Email</label>
            <input type="email" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <label for="comment">Message</label>
            <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form><br><br><br><br><br>
      </div>
    </div>
</div>