
  <h1>Style Guide</h1>
  <hr>
  <br>
  <h4>Typography</h4>
  <br><br>
  <h3>H3. {Scope One} Heading</h3>
  <p>
    <u>{Roboto:300}, 1 rem (18px) body text size @ 1.6 line height</u>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis vestibulum vehicula. Pellentesque viverra augue sit amet enim ullamcorper eleifend. Phasellus egestas purus id enim aliquet ornare at vel erat. Fusce malesuada orci ligula, nec pharetra risus vulputate at. <i>Cras mollis molestie velit</i>, id semper dolor pulvinar nec. Donec a lectus dolor. <span class="small">Maecenas quis eros sollicitudin</span>, finibus massa quis, vestibulum ipsum. <b>Cras aliquam fringilla massa</b>, sed laoreet mauris consequat in. Fusce ac libero tortor. Vivamus sed lacus eu turpis luctus consectetur eget ut elit. <a href="#">Phasellus ac orci</a> eget dui hendrerit dignissim. Ut et risus ipsum. Integer sagittis eros diam, ut rutrum libero pulvinar fringilla. Donec aliquam congue mi, fringilla convallis lectus aliquet ut.  
  </p>
  <h1>h1. Heading Text Sample</h1>
  <h2>h2. Heading Text Sample</h2>
  <h3>h3. Heading Text Sample</h3>
  <h4>h4. Heading Text Sample</h4>
  <h5>h5. Heading Text Sample</h5>
  <h6>h6. Heading Text Sample</h6>
  
  <hr>
  <br>
  <h4>Button Styles</h4>
  <br><br>
  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  <button type="button" class="btn btn-primary">Primary</button>

  <!-- Secondary, outline button -->
  <button type="button" class="btn btn-secondary">Secondary</button>

  <!-- Indicates a successful or positive action -->
  <button type="button" class="btn btn-success">Success</button>

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info">Info</button>

  <!-- Indicates caution should be taken with this action -->
  <button type="button" class="btn btn-warning">Warning</button>

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger">Danger</button>

  <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
  <button type="button" class="btn btn-link">Link</button>

  