  <div class="container">
    <div class="row">
       <div class="col-xs-12">
        <div class="main-leading">WORK</div>
         <div class="main">COOKESLY</div>
      </div>
    </div>
    <div class="row" id="feature">
      <div class="col-sm-5"><strong>SU WATS 2000 Final Project</strong><p>A fully functional web application to search, browse, and save 1000's of cooking recipes.</p><p>
        <a class="btn btn-default" href="#" role="button">Live App</a> <a class="btn btn-default" href="#" role="button">Source Code</a></p><hr><p><strong>Desktop Views</strong></p><img ng-src="images/ckly-dsk-brws.png" class="img-responsive"><figcaption>browse recipes</figcaption><img ng-src="images/ckly-home.png" class="img-responsive"><figcaption>search recipes</figcaption><img src="images/ckly-home.png" class="img-responsive"><figcaption>browse recipes</figcaption><img src="images/ckly-home.png" class="img-responsive"><figcaption>save/delete recipes</figcaption>
      
      
      
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        

        <p><h3>Syponsis</h3>The goal of the course project was to build a polished data driven application utilizing a web API and AngularJS framework. The application took a total of 4 weeks from concept to build. I had originally spec for <em>Eventbrite</em> API integration so that a user can host an <em>Eventbrite</em> event by selecting a recipe within the application. I scrapped that idea 2 weeks in the build and opted for the save/delete recipe function due to time constraints. The name <strong>COOKESLY</strong> for the application meant cook easily which I thought suited the purpose of the application.
          
          <hr>
          <div class="row">
            <div class="col-xs-12"><p><strong>Mobile Views</strong></p></div>
            <div class="col-xs-6"><img ng-src="images/ckly-mobile-brws.png" class="img-responsive"><figcaption class="text-muted small">concept - host an event</figcaption></div>
            <div class="col-xs-6"><img ng-src="images/ckly-mobile-brws.png" class="img-responsive"><figcaption class="text-muted small">concept - host an event</figcaption></div>
            <div class="col-xs-6"><img ng-src="images/ckly-mobile-brws.png" class="img-responsive"><figcaption class="text-muted small">concept - host an event</figcaption></div>
            <div class="col-xs-6"><img ng-src="images/ckly-mobile-brws.png" class="img-responsive"><figcaption class="text-muted small">concept - host an event</figcaption></div>
          </div>
        
        <h3>Process</h3>Etiam quam urna, suscipit sit amet ligula eget, condimentum molestie magna. Suspendisse a augue non orci facilisis ornare. Nunc in fringilla mauris, sit amet lacinia dui. Vivamus vel lacus quis mi interdum fringilla. Vestibulum lectus nulla, congue sed augue a, volutpat tempor elit. In arcu enim, tincidunt ultrices lacus a, ultrices viverra mauris. Donec rhoncus mattis tortor, in dictum urna aliquet non.
        
          <hr>
          <div class="row">
            <div class="col-xs-12"><p><strong>Wireframe Mockups</strong></p></div>
            <div class="col-xs-12"><img src="http://placehold.it/1200x900" class="img-responsive"><figcaption class="text-muted small">concept - search</figcaption></div>
            <div class="col-xs-12"><img src="http://placehold.it/1200x900" class="img-responsive"><figcaption class="text-muted small">concept - browse</figcaption></div>
            <div class="col-xs-12"><img src="http://placehold.it/1200x900" class="img-responsive"><figcaption class="text-muted small">concept - host an event</figcaption></div>
          </div>
        
        <h3>Tools Used</h3>Congue sed augue a, volutpat tempor elit. In arcu enim, tincidunt ultrices lacus a, ultrices viverra mauris. Donec rhoncus mattis tortor, in dictum urna aliquet non.<h3>Outcome / After Thoughts</h3>Suspendisse a augue non orci facilisis ornare. Nunc in fringilla mauris, sit amet lacinia dui. Vivamus vel lacus quis mi interdum fringilla. Vestibulum lectus nulla, congue sed augue a, volutpat tempor elit. In arcu enim, tincidunt. Congue sed augue a, volutpat tempor elit. In arcu enim, tincidunt ultrices lacus a, ultrices viverra mauris. Donec rhoncus mattis tortor, in dictum urna aliquet non.</p></div> 
    </div>
    
    
</div>
<div class="container">
    <hr>
      <div class="row"><div class="col-xs-12">
         <p>
           <strong>Project Assets</strong>
          </p>
          
    
          </div>
    </div>
    <!-- lines of text must match to avoid breaking the layout -->
    <div class="row" id="subfeature">
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>STORY</strong><br>Veniam quis nostrum exercitationem, consectetur, adipisci</p></div>
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>Numquam eius modi</strong><br>Tempora incidunt ut labore et dolore magnam aliquam quaerat qui</p></div>
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>Blanditiis praesentium</strong><br>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti</p></div>
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>Ut enim ad minima</strong><br>Veniam quis nostrum exercitationem, consectetur, adipisci velit</p></div>
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>Labore et dolore</strong><br>Tempora incidunt ut labore et dolore magnam aliquam quaerat</p></div>
      <div class="col-xs-6 col-sm-4 col-lg-3"><img src="http://placehold.it/800x800" class="img-responsive"><br><p><strong>Qui blanditiis</strong><br>Dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>    
    </div>
</div>  
